@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    -webkit-overflow-scrolling: touch;
  }
  body {
    @apply bg-background text-foreground antialiased;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  @keyframes move-dashes {
    to {
      background-position: 0 40px;
    }
  }

  .animate-road-dashes {
    background: repeating-linear-gradient(to bottom, hsl(var(--foreground)), hsl(var(--foreground)) 20px, transparent 20px, transparent 40px);
    background-size: 100% 40px;
    animation: move-dashes 1s linear infinite;
    will-change: background-position;
  }

  @keyframes move-dashes-about {
    to { background-position: 0 20px; }
  }

  .animate-road-dashes-about {
    background: repeating-linear-gradient(to bottom, currentColor, currentColor 10px, transparent 10px, transparent 20px);
    background-size: 100% 20px;
    animation: move-dashes-about 0.5s linear infinite;
    will-change: background-position;
  }
}
